.btn{
    margin-left:230px;
    transform: translateX(0px) translateY(0px);
  }
  .pts{
    font-family:'Viga';
    margin-left:45%;
    
  }
  .vi{
    background: url(./imge/munnar.jpg);
    height:130vh;
  }
  .container{
    opacity: 0.8;
  }