html,body{
    font-family: 'Viga';
  }
  .nav{
    position: absolute;
    font-family: 'Viga';
    transform: translateY(-1020px);
    margin-left: 60%;
  }
  .nav-link{
    color: #060606;
  }
  .nav-link:hover{
    color: white;
  }
  .main{
    font-family: sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(./imge/tigerhilli.jpg);
    
  }
  /* .btn {
    color: white;
    border-radius: 15%;
    transition: 0.5s;
    margin: 10px;
    
} */
  .title{
    position:absolute;
    color: #000;
    font-family: 'Viga';
    margin-left: 50px;
    letter-spacing: 5px;
    word-spacing: 5px;
  }
  .logo{
    position: absolute;
    height: 50px;
    width: 50px;
  }
  .top{
    margin-left: 150px;
    transform: translateX(-100px)  translateY(-30px);
    margin-top: 50px;
  }
  #circle{
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    /* transform: translateX(-200px)  translateY(-200px); */
  }
  .feature{
    position: absolute;
    font-family: 'Viga';
    padding: 5px;
    border-radius: 20%;
    width: 375px;
    color: #ffffff;
    transition: 0.5s;
    
  }
  
  .feature ion-icon{
    width: 50px;
    height: 50px;
    padding: 15px;
  }
  
  .feature h5{
    font-size: 50px;
  }
  .one{
    transform: translateX(90px)  translateY(100px) rotateZ(0deg);
    height: 175px;
    
    
  }
  .two{
    transform: translateX(90px)  translateY(300px) rotateZ(0deg);
  }
  .three{
    transform: translateX(800px)  translateY(100px) rotateZ(0deg);
  }
  .four{
    transform: translateX(800px)  translateY(300px) rotateZ(0deg);
  }
  .f-title{
    color: #512b58;
    font-family: 'Spicy Rice',sans-serif;
    margin-left: 35%;
    margin-top: 50px;
  }
.f-title::after{
  content: " ";
  position: absolute;
  border: 2px solid #512b58;
  border: 20%;
  width: 70px;
  transform: translateY(100px) translateX(-170px);
}
  .main-one{
    font-family: sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#2a7886,#79bac1,#2a7886);
  }

  .f-para{
    font-family: 'Viga', cursive;
    margin-top: 30px;
    color: #512b58;
  }
  .f-img{
    transform: rotateZ(10deg);
  }
  .f-btn{
    position: absolute;
    margin-left: 31%;
    border: none;
  }
  #circle{
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    /* transform: translateX(-200px)  translateY(-200px); */
  }
  .main-two {
    font-family: sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,#ffe75e,#feb72b,#527318);
    
  }
  .h-img-one{
    height: 300px;
    width: 600px;
    position: absolute;
    transform: translateX(200px) translateY(50px);
  }
  .h-img-two{
    height: 300px;
    position: absolute;
    transform: translateX(-20px) translateY(50px);
    width: 300px;
  }
  .h-img-three{
    position: absolute;
    height: 300px;
    width: 300px;
    transform: translateX(700px) translateY(50px);
  }
  .h-img-four{
    position: absolute;
    height: 300px;
    width: 600px;
    transform: translateX(900px) translateY(50px);
  }
  .h-para{
    font-family: 'Viga', cursive;
    margin-top: 30px;
    color: #527318;
  }
  .h-title{
    color: #527318;
    font-family: 'Spicy Rice',sans-serif;
    margin-left: 35%;
    margin-top: 50px;
  }
  .h-title::after{
  content: " ";
  position: absolute;
  border: 2px solid #527318;
  border: 20%;
  width: 70px;
  transform: translateY(100px) translateX(-150px);
  }
  
  .h-btn{
    margin-left: 41%;
  }
  .footer{
    width: 100%;
    height: 50vh;
    background: #010a43;
  }
  
  .footer-title{
    color: #b8d685;
    font-family: 'Spicy Rice',sans-serif;
    margin-left: 35%;
    margin-top: 50px;
    font-size: 45px;
  }
  .footer-title::after{
    content: " ";
    position: absolute;
    border: 2px solid #b8d685;
    border: 20%;
    width: 70px;
    transform: translateY(60px) translateX(-130px);
    }
  .footer-para{
   
    color: whitesmoke;
  }
  
  .copy{
    margin-left: 30%;
  }
.btn:hover{
  border: 1px solid white;
  color: white;
  box-shadow: 1px 1px white;
} 
.f-btn ion-icon{
  margin-left: 10px;
  margin-top: 10px;
  transform: translateY(3px);
  transition: 2s;
}

/* 
.f-back{
  position: absolute;
  transform: translateY(26px) translateX(-30px);
  height: 0px;
  width: 0px;
  opacity: 0;
  border-radius: 50%;
  background: transparent;
  border: 3px solid #005082;
  transition: 2s;
}

.f-btn:hover,.f-btn:active,f-btn:visited{
  text-decoration: none;
  border: none;
  color: white;
}
.f-btn:hover .f-back,
.f-btn:active .f-back{
  transform: translateY(-3px) translateX(-30px);
  height: 60px;
  width: 200px;
  opacity: 1;
  border-radius: 10px;
}
.f-btn:hover ion-icon,
.f-btn:active ion-icon{
  transform: translateY(3px) translateX(60px);
} */
